name: Build Docker Image

on:
  workflow_dispatch:
    inputs:
      base_nginx_version:  # <--- This matches the input used in build-args
          description: 'Base Nginx version to use (e.g. 1.29.3)'
          required: true
          default: 'latest'
env:
  DOCKER_HUB_USERNAME: "lalala"
  IMAGE_BUILD_NAME: "lalala/nginx-updated"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:

    - name: Set GITHUB_SHA_SHORT
      run: echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-7)" >> $GITHUB_ENV

    - name: Set GH_BRANCH_NAME
      run: echo "GH_BRANCH_NAME=$(echo ${GITHUB_REF##*/})" >> $GITHUB_ENV

    - name: clone main repository
      uses: actions/checkout@v5
    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3
    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: lalala
        password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
    -
      name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        #platforms: linux/amd64,linux/arm64
        platforms: linux/amd64
        push: true
        sbom: true # This enables the Software Bill of Materials attestation
        provenance: mode=max # This enables the SLSA Provenance attestation
        build-args: |
          NGINX_VERSION=${{ github.event.inputs.base_nginx_version }}
        tags: |
          ${{env.IMAGE_BUILD_NAME}}:${{ github.event.inputs.base_nginx_version }}